In [1]:
import pandas as pd
heart=pd.read_csv('heart.csv')
heart.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [2]:
y=heart[['cp']]
x=heart[['chol']]

In [3]:
from sklearn.model_selection import train_test_split
xtr,xte,ytr,yte=train_test_split(x,y,test_size=0.5)

In [4]:
from sklearn.linear_model import LinearRegression
lr= LinearRegression()
lr.fit(xtr,ytr)
ypred=lr.predict(xte)

In [5]:
ytr.head()

     cp
39    2
287   1
120   0
104   2
190   0

In [6]:
ypred[0:5]

array([[0.85618021],
       [0.54155501],
       [0.85306511],
       [0.88110101],
       [0.89356142]])

In [7]:
from sklearn.metrics import mean_squared_error
mean_squared_error(yte,ypred)

1.2871158628938428

In [8]:
y=heart[['age']]
x=heart[['cp']]

In [9]:
from sklearn.model_selection import train_test_split
xtr,xte,ytr,yte=train_test_split(x,y,test_size=0.5)

In [10]:
from sklearn.linear_model import LinearRegression
lr= LinearRegression()

In [11]:
lr.fit(xtr,ytr)
ypred=lr.predict(xte)

In [12]:
yte.head()

     age
266   55
77    59
57    45
99    53
115   37

In [13]:
ypred[0:5]

array([[53.6884845 ],
       [53.66962361],
       [53.6884845 ],
       [53.65076273],
       [53.65076273]])

In [14]:
from sklearn.metrics import mean_squared_error
mean_squared_error(yte,ypred)

82.80624807134696

In [15]:
import pandas as pd 
price=pd.read_csv('train.csv')
price.head()

,POSTED_BY,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,ADDRESS,LONGITUDE,LATITUDE,TARGET
0,Owner,0,0,2,BHK,1300.236407,1,1,"Ksfc Layout,Bangalore",12.969910,77.597960,55.0
1,Dealer,0,0,2,BHK,1275.000000,1,1,"Vishweshwara Nagar,Mysore",12.274538,76.644605,51.0
2,Owner,0,0,2,BHK,933.159722,1,1,"Jigani,Bangalore",12.778033,77.632191,43.0
3,Owner,0,1,2,BHK,929.921143,1,1,"Sector-1 Vaishali,Ghaziabad",28.642300,77.344500,62.5
4,Dealer,1,0,2,BHK,999.009247,0,1,"New Town,Kolkata",22.592200,88.484911,60.5

In [17]:
y=price[['TARGET']]
x=price[['BHK_NO.']]

In [ ]:
from sklearn.model_selection import train_test_split
xtr,xte,ytr,yte=train_test_split(x,y,test_size=0.2)

In [ ]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()

In [ ]:
lr.fit(xtr,ytr)
ypred=lr.predict(xte)

In [31]:
yte.head()

     age
266   55
77    59
57    45
99    53
115   37

In [32]:
ypred[:10]

array([[53.6884845 ],
       [53.66962361],
       [53.6884845 ],
       [53.65076273],
       [53.65076273],
       [53.6884845 ],
       [53.63190184],
       [53.63190184],
       [53.63190184],
       [53.6884845 ]])

In [18]:
from sklearn.metrics import mean_squared_error
mean_squared_error(yte,ypred)

82.80624807134696

In [1]:
import pandas as pd
star=pd.read_csv('Stars.csv')

In [2]:
star.head()

   Temperature         L       R    A_M Color Spectral_Class  Type
0         3068  0.002400  0.1700  16.12   Red              M     0
1         3042  0.000500  0.1542  16.60   Red              M     0
2         2600  0.000300  0.1020  18.70   Red              M     0
3         2800  0.000200  0.1600  16.65   Red              M     0
4         1939  0.000138  0.1030  20.06   Red              M     0

In [9]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()

In [75]:
x=star[['Temperature','A_M']]
y=star[['Spectral_Class']]

In [77]:
from sklearn.model_selection import train_test_split
xtr,xte,ytr,yte=train_test_split(x,y,test_size=0.2)

In [78]:
lr.fit(xtr,ytr)
ypred=lr.predict(xte)

C:\Users\omdha\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\omdha\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [79]:
y.head()

  Spectral_Class
0              M
1              M
2              M
3              M
4              M

In [80]:
y[:5]

  Spectral_Class
0              M
1              M
2              M
3              M
4              M

In [81]:
from sklearn.metrics import confusion_matrix
confusion_matrix(yte,ypred)

array([[ 0,  1,  0,  0,  0,  1,  1],
       [ 0,  4,  0,  0,  0,  1,  5],
       [ 0,  2,  0,  0,  0,  4,  0],
       [ 0,  0,  0,  0,  0,  0,  1],
       [ 0,  0,  0,  0,  0,  0,  1],
       [ 0,  0,  0,  0,  0, 17,  7],
       [ 0,  0,  0,  0,  0,  0,  3]], dtype=int64)

In [83]:
24/(48)*100

50.0

In [1]:
import pandas as pd 
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

FileNotFoundError: [Errno 2] No such file or directory: 'ML/1_linear_reg/Exercise/canada_per_capita_income.csv'