In [112]:
import pandas as pd
heart=pd.read_csv('heart.csv')
heart.head()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [113]:
y=heart[['age']]
x=heart[['output']]

In [114]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [115]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3)

lr=LinearRegression()
lr.fit(x_train,y_train)

LinearRegression()

In [116]:
y_pred=lr.predict(x_test)

In [117]:
y_test.head()

     age
70    54
260   66
66    51
300   68
222   65

In [118]:
y_pred[0:5]

array([[52.6036036],
       [57.       ],
       [52.6036036],
       [57.       ],
       [57.       ]])

In [119]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test,y_pred)

74.23699018293614

In [120]:
x=heart[['chol']]
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3)

In [121]:
lr2= LinearRegression()

In [122]:
lr2.fit(x_train,y_train)
y_pred2=lr2.predict(x_test)

In [123]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test,y_pred)

71.97543192137786

In [124]:
import pandas as pd
churn= pd.read_csv('churn.csv')
churn.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [125]:
x=churn[['tenure']]
y=churn[['Churn']]

In [126]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [127]:
log_model=LogisticRegression()

In [128]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.1)

In [129]:
log_model.fit(x_train, y_train)

C:\Users\omdha\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

LogisticRegression()

In [130]:
y_pred3=log_model.predict(x_test)

In [131]:
y_test.head()

     Churn
5530    No
6643    No
3905   Yes
3081   Yes
5099   Yes

In [132]:
y_pred3[0:5]

array(['No', 'No', 'No', 'No', 'No'], dtype=object)

In [133]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,y_pred3)

array([[511,   0],
       [194,   0]], dtype=int64)

In [137]:
(511/(511+194))

0.724822695035461